
.cardContainer
    border: var(--border-width) solid var(--color-gray)
    height: fit-content
    max-width: 330px
    text-align: start
    transition: transform var(--transition-slow) ease
    &:hover
        transform: scale(1.05)
    .cardImageContainer
        height: 200px
        .cardImage
            max-width: 330px
            height: 200px
            object-fit: cover
    .cardStack
        color: var(--color-gray)
        line-height: var(--line-height-base)
        border-top: var(--border-width) solid var(--color-gray)
        border-bottom: var(--border-width) solid var(--color-gray)
        padding: var(--spacing-mds) var(--spacing-lg)
    .cardContentContainer
        padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-mds) var(--spacing-lg)
        .cardHeader
            display: flex
            justify-content: space-between
            .cardName
                color: var(--color-accent)
                font-size: var(--font-size-xxl)
            .cardProjectStatus
                align-self: center
                color: var(--color-primary)
                border: var(--border-width) solid var(--color-primary)
                padding: var(--spacing-xs)

        .cardDescription
            color: var(--color-gray)
            margin-top: var(--spacing-lg)
            font-size: var(--font-size-base)
            line-height: var(--line-height-base)
        .cardBtnContainer
            display: flex
            margin-top: var(--spacing-md)
            gap: var(--spacing-md)
            justify-content: start
            .cardBtn
