
.sectionTitleContainer
    display: flex
    position: relative
    max-width: fit-content
    margin: auto 0
    .sectionTitleHeader
        color: var(--color-accent)
        font-size: var(--font-size-heading)
        line-height: var(--border-width-thick)
        span
            margin-right: 2px
            font-size: var(--font-size-symbol)

            color: var(--color-primary)
    .sectionTitleLine
        position: absolute
        background-color: var(--color-primary)
        height: 2px
        top: 50%
        left: calc(100% + 20px)
