#custom-cursor {
  position: fixed;
  width: 10px; /* Начальный размер курсора */
  height: 10px; /* Начальный размер курсора */
  background-color: white; /* Цвет курсора */
  border-radius: 50%; /* Круглая форма курсора */
  pointer-events: none; /* Чтобы курсор не мешал кликам */
  z-index: 1000; /* Поверх других элементов */
  transition: transform 0.2s ease-out; /* Плавный переход */
}

.hovered {
  width: 4px; /* Размер "палочки" при выделении */
  height: 30px; /* Высота "палочки" */
  border-radius: 0; /* Без округления */
  background-color: blue; /* Цвет 'палочки' */
}

.focused {
  width: 4px; /* Размер "палочки" при выделении */
  height: 30px; /* Высота "палочки" */
  border-radius: 0; /* Без округления */
  background-color: white; /* Цвет 'палочки' */
}
